/* Empty. Add your own CSS if you like */
.img-responsive{
	max-width: 100%;
    height: auto;
}

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.full-card-list{
	padding: 0px !important;
    overflow: hidden !important;
}

.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 120px;
  color: #000;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

.khipu{
  height: 100%;
  width: 100%;
}

/*ERRORS*/

label.item.has-error {  
  border-bottom: 2px solid red;
}
 
/** Styling for the password field when an error exists**/
.error-container {
  margin: 0;
}
 
.error {
  padding: 8px 8px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  color: #555;
  vertical-align: middle;
}
 
.error i {
  font-size: 24px;
  color: #B83E2C;  
  vertical-align: middle;
}
 
.last-error-container > .error {
  padding: 10px 16px 0;
}
 
.has-errors {
  border-bottom: 1px solid #B83E2C;
}
 
.no-errors {
  border-bottom: 2px solid green;
}

.blue{
  color: #4891CE !important;
}

.white{
  background-color: white;
}

@font-face{
  font-family:'Whitney HTF Book';
  font-style : 'normal';
  font-weight: 100;
  src        :url(../fonts/WhitneyHTF-Light.otf);
}
@font-face{
  font-family:'Whitney HTF Book';
  font-style: 'normal';
  font-weight: 300;
  src:url(../fonts/WhitneyHTF-Book.otf);
}
@font-face{
  font-family:'Whitney HTF Book';
  font-style: 'normal';
  font-weight: 500;
  src:url(../fonts/WhitneyHTF-Bold.otf);
}

@font-face{
  font-family:'Whitney HTF Book MAY';
  font-style: 'normal';
  font-weight: 100;
  src:url(../fonts/WhitneyHTF-LightSC.otf);
}
@font-face{
  font-family:'Whitney HTF Book MAY';
  font-style: 'normal';
  font-weight: 300;
  src:url(../fonts/WhitneyHTF-BookSC.otf);
}
@font-face{
  font-family:'Whitney HTF Book MAY';
  font-style: 'normal';
  font-weight: 500;
  src:url(../fonts/WhitneyHTF-BoldSC.otf);
}

.tittle-principal{
  color: #777 !important;
  font-family: 'Whitney HTF Book';
  font-weight: 300;
  letter-spacing: 3px;
  font-size: 31px;
}

.tittle-principal span{
  font-weight: 500;
}

.list-notes{
  background-color: #dddddd !important;
}

.list-notes a.item.item-thumbnail-left{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    border: none !important;
    -webkit-box-shadow: 0px -1px 7px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px -1px 7px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 7px 3px rgba(0,0,0,0.2);
}
.ion-ios-search-strong{
  font-size: 35px;
    color: #939397;
}

.custom-search{
  background-color: #dddddd !important;
}

.custom-search input{
    margin: 0px !important;
    margin-left: 10px !important;
    background-color: white !important;
    border-radius: 10px !important;
}

.custom-search input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  padding-left: 10px;
  font-family: 'Whitney HTF Book';
  font-weight: 300;
  font-size: 18px;
}
.custom-search input::-moz-placeholder { /* Firefox 19+ */
  padding-left: 10px;
  font-family: 'Whitney HTF Book';
  font-weight: 300;
  font-size: 18px;
}
.custom-search input:-ms-input-placeholder { /* IE 10+ */
  padding-left: 10px;
  font-family: 'Whitney HTF Book';
  font-weight: 300;
  font-size: 18px;
}
.custom-search input:-moz-placeholder { /* Firefox 18- */
  padding-left: 10px;
  font-family: 'Whitney HTF Book';
  font-weight: 300;
  font-size: 18px;
}

.no-margin-custom-list{
  margin: 0px !important;
  padding: 0px 20px;
  background-color: #dddddd !important;
}

.gray{
  background-color: #dddddd !important;
}

.gradient{
  height: 100vh;
  background: rgb(255,255,255); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 2%, rgba(255,255,255,1) 10%, rgba(201,201,201,1) 72%, rgba(201,201,201,1) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 2%,rgba(255,255,255,1) 10%,rgba(201,201,201,1) 72%,rgba(201,201,201,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, rgba(255,255,255,1) 2%,rgba(255,255,255,1) 10%,rgba(201,201,201,1) 72%,rgba(201,201,201,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c9c9c9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.gradient .scroll{
  height: 100vh;
}
.login-facebook{
  font-family: 'Whitney HTF Book';
  border-radius: 0px;
  font-size: 18px;
  font-weight: 300;
}

.center{
     text-align:center;
}

.white-button{
      border-color: white !important;
    background: transparent !important;
    color: white !important;
}

.login-list{
  background-color: transparent;
    border: none;
}
.login-list .item-input{
    background-color: transparent;
    border: none;
}

.login-list input{
  border-bottom: solid 1px #ddd;
}

.login-list input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
  font-family: 'Whitney HTF Book';
  font-weight: 300;
  font-size: 18px;
}
.login-list input::-moz-placeholder { /* Firefox 19+ */
  color: black;
  font-family: 'Whitney HTF Book';
  font-weight: 300;
  font-size: 18px;
}
.login-list input:-ms-input-placeholder { /* IE 10+ */
  color: black;
  font-family: 'Whitney HTF Book';
  font-weight: 300;
  font-size: 18px;
}
.login-list input:-moz-placeholder { /* Firefox 18- */
  color: black;
  font-family: 'Whitney HTF Book';
  font-weight: 300;
  font-size: 18px;
}